# Git
.git
.gitignore

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio Code
.vscode/

# IDE
.idea/

# Dependencies
**/packages/*
**/node_modules/*

# Environment files
*.env
appsettings.Development.json

# Others
*.swp
*.log
.DS_Store 